<!-- below selector contains sorting and searching and pagination -->
<!-- <app-table-complete></app-table-complete> -->
<!-- we have created new directive 'sortable' -->

<!-- below selector has only searching in table -->
<!-- <app-table-filtering></app-table-filtering> -->

<div style="text-align: center; margin-top: 2%; margin-bottom: 2%;">

<button class="btn btn-outline-primary " routerLink="/table-complete">Table Complete Example</button>
<button class="btn btn-outline-primary" routerLink="/table-search">Table Search Example</button>

</div>

<router-outlet></router-outlet>



